@import '../pages/theme.css';

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: gutterH 0;

  @media viewportMd {
    padding: calc(gutterH * 2) 0;
  }
}

.socialLinks {
  & > .socialLink:not(:last-child) {
    margin-right: gutterH;

    @media viewportMd {
      margin-right: calc(gutterH * 2);
    }
  }
}

.socialLink {
  color: cWhite;
  display: inline-flex;
  text-decoration: none;

  & > .icon {
    transition: color 300ms ease-in-out;
  }

  & > .label {
    margin-left: 10px;
    display: none;

    @media viewportMd {
      display: inline-block;
    }
  }

  &:hover, &:focus {
    & > .icon { color: cBlue; }
    & > .label > .labelInner { transform: translateY(-100%); }
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  color: cWhite;

  & > svg {
    width: 36px;
    height: 36px;
    fill: currentColor;

    @media viewportMd {
      width: 24px;
      height: 24px;
    }
  }
}

.label {
  overflow: hidden;

  & > .labelInner {
    transition: transform 300ms;
  }
}

.labelInner {
  position: relative;
	display: inline-block;

  &::before {
    position: absolute;
    top: 100%;
    font-weight: fontWeightBold;
    content: 'Go!';
    transform: translate3d(0, 0, 0);
  }
}
